body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 45px;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;

}

.wrapper {
  background-color:#dfc3d1;
  width: 40%;
  height: 400px;
  margin: 2rem auto;
  padding: 2rem;
}

.btn {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

button {
  width: 100px;
  height: 32px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #836d9b;
  color: #fff;
  border: 1px solid #999090;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button:hover {
  color: black;
  background-color: #836d9b;
}
